.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.card-container .card{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(136, 114, 114);
}
.card-container .card img{
    width: 300px;
    height: 400px;
    border-radius: 10px 10px 0 0;
}
.card-container .card p{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}